
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    text-align: center;
}

.column1, .column2 {
    flex: 1;
}

.column1 {
    margin-left: 20px;
    text-align: left
}



.pfontsize{
    font-size: 14px;
}


.column2 img {
    width: 450px;
    height: auto; }



    .imgDesk{
       margin-top: 100px;
    }

    .imgBenchmarking{
       margin-top: 150px;
    }
    
    .imgpesquisa{
        margin-top: 380px;
    }


    .articlePersona{
        margin-top: 20px;
        margin: 30px;
        text-align: center;
    }

    .insights{
        margin-top: 20px;
        
        text-align: left;
    }

    

    .solucaotxt{
        margin: 60px;
        text-align: left;
    }

    .WiraFrame{
      text-align: center;
      margin: 0 60px 60px 60px;
    }


  
@media screen and (max-width: 600px) {
    .column1, .column2 {
        text-align: left;
      
        flex: 100%;
    }
   

    .column2 img{
       
       width:  300px;
    }

    .WiraFrame img{
        width: 260px;
    }
   .articlePersona img{
   
    width: 290px;
   }
    
   .imgBenchmarking {
    margin-top: 20px;
}

.imgpesquisa {
    margin-top: 20px;
}

.WiraFrame{
    text-align: left;
}


}


